html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #444;

}
a {
    color: steelblue;
    text-decoration: none;
}

.preview{
    padding: 50px 0 0 300px;
}
.description{
    padding-top: 25px;
}
.headline{
    font-size: x-large;
    font-weight:bold
}
.dancing {
    display: block;
    height: auto;
    max-width: 80%;
}
.photo{
    max-width: 250px;
    margin-top: 10px;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 7px 2px 7px #777;

}
/*@media screen and (min-width: 375px){*/

/*}*/